@font-face {
	font-family: 'SwissraCondensed';
	src: url('../../../public/assets/fonts/SwissraCondensed-Light.woff2')
			format('woff2'),
		url('../../../public/assets/fonts/SwissraCondensed-Light.woff')
			format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SwissraCondensed';
	src: url('../../../public/assets/fonts/SwissraCondensed-Heavy.woff2')
			format('woff2'),
		url('../../../public/assets/fonts/SwissraCondensed-Heavy.woff')
			format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SwissraCondensed';
	src: url('../../../public/assets/fonts/SwissraCondensed-UltraLight.woff2')
			format('woff2'),
		url('../../../public/assets/fonts/SwissraCondensed-UltraLight.woff')
			format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SwissraCondensed';
	src: url('../../../public/assets/fonts/SwissraCondensed-Bold.woff2')
			format('woff2'),
		url('../../../public/assets/fonts/SwissraCondensed-Bold.woff')
			format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SwissraCondensed';
	src: url('../../../public/assets/fonts/SwissraCondensed-Thin.woff2')
			format('woff2'),
		url('../../../public/assets/fonts/SwissraCondensed-Thin.woff')
			format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
